// ------------------------------------------
// Create different column layouts at different
// breakpoints
//
// Example: column-grid--sm-2-col
//          column-grid--md-3-col
//          column-grid--lg-4-col
// ------------------------------------------
@mixin create-columns($breakpoint){
	&-#{$breakpoint} {
		&--2-col {
			grid-template-columns: repeat(2, 1fr);
		}
		
		&--3-col {
			grid-template-columns: repeat(3, 1fr);
		}
		
		&--4-col {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}