// ------------------------------------------
// Colors
// ------------------------------------------
$colors: (
    blue: #333F48,
	light-blue: #40596b,
	opaque-blue: #ddebec,
	red: #730912,
    orange: #f17923,
    green: #658d1b,
    gray: #ccc,
	light-gray: #999,
    dark-gray: #333,
	white: #fff,
	off-white: #fafafa,
    black: #000
);

// ------------------------------------------
// Spacing
// ------------------------------------------
$vmx_base_spacing: 20px;
$vmx_half_spacing: calc(#{$vmx_base_spacing} / 2);
$vmx_double_spacing: calc(#{$vmx_base_spacing} * 2);

// ------------------------------------------
// Breakpoints
// ------------------------------------------
$breakpoints: (
	small: 37.5em, //600px
	medium: 48em, // 768px
	large: 64.0625em, // 1024px
	xlarge: 100em, //1600px
);

// ------------------------------------------
// Row Widths
// ------------------------------------------
$row-widths: (
	base: 1024px,
	narrow: 900px, 
	wide: 1200px
);