// --------------------------------------------------------
// Card Styles
// --------------------------------------------------------
.card {
	// border: 5px solid $purple;
	@include grid-parent;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	text-align: center;
	width: 100%;
	
	&--img {
		object-fit: cover;
		height: 100%;
		min-height: 220px;
		width: 100%;
	}
	
	&--content {
		// border: 3px solid $blue;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: $space-more $space-default;
		height: 100%;
		width: 100%;
		
		> * + *  {
			margin-top: 40px;
		}

		&.half-width {
			@media only screen and (min-width: 40em){
				width: 50%;
			}
		}
		
		&.quarter-width {
			@media only screen and (min-width: 40em){
				width: 25%;
			}
		}
		
		&.three-quarter-width {
			@media only screen and (min-width: 40em){
				width: 75%;
			}
		}
	}
	
	&--item {
		// border: 3px solid $orange;
		@include grid-item;
		display: flex;
		justify-content: center;
		align-items: center;
		
		&.align-self--top {
			@include respond-to(small){
				align-items: flex-start;
			
				> .card--content {
					justify-content: flex-start;
				}
			}
		}
		
		&.align-self--bottom {
			@include respond-to(small){
				align-items: flex-end;
			
				> .card--content {
					justify-content: flex-end;
				}
			}
		}
		
		&.align-self--left {
			@include respond-to(small){
				justify-content: flex-start;
				text-align: left;

				> .card--content {
					align-items: flex-start;
				}
			}
		}
		
		&.align-self--right {
			@include respond-to(small){
				justify-content: flex-end;
				text-align: right;

				> .card--content {
					align-items: flex-end;
				}
			}
		}
	}
	
	&.content--left{
		@include respond-to(small){
			.card--item {
				justify-content: flex-start;
				text-align: left;

				> .card--content {
					align-items: flex-start;
				}
			}
		}
	}

	&.content--right {
		@include respond-to(small){
			.card--item {
				justify-content: flex-end;
				text-align: right;

				> .card--content {
					align-items: flex-end;
				}
			}
		}
	}

	&.content--top {
		@include respond-to(small){
			.card--item {
				align-items: flex-start;

				> .card--content {
					justify-content: flex-start;
				}
			}
		}
	}

	&.content--bottom {
		@include respond-to(small){
			.card--item {
				align-items: flex-end;

				> .card--content {
					justify-content: flex-end;
				}
			}
		}
	}

	&.content--half-width{
		.card--content {
			@include respond-to(small){
				width: 50%;
			}
		}
	}

	&.content--quarter-width{
		.card--content {
			@include respond-to(small){
				width: 25%;
			}
		}
	}

	&.content--three-quarter-width{
		.card--content {
			@include respond-to(small){
				width: 75%;
			}
		}
	}
	
	&--switch {
		.card--item-1 {
			order: 2;
		}
	}
	
	&--stacked {
		.card--item-1,
		.card--item-2 {
			grid-column: 1/3;
		}
	}
	
	&--text-overlay {
		.card--item-1,
		.card--item-2 {
			grid-row-start: 1;
		}
		
		.card--item-1 {
			grid-column: 1/3;
			
		}
		
		.card--item-2 {
			// background-color: rgba(88,218,78,0.3);
			grid-column: 1/3;
		}
	}
    
    &--title {
		font-size: 36px;

		+ * {
			margin-top: 8px;
		}
	}

	&--snippet {
		font-size: 18px;
	}
	
	&--button {
		display: block;
		background-color: color(pink);
		border: 2px solid color(pink);
		color: #fff;
		padding: 16px 32px;
		text-decoration: none;
		word-wrap: wrap;
		line-height: 1.3;
		width: 100%;
		max-width: 200px;
		text-align: center;
	}
}