// ------------------------------------------
// Create different column layouts at different
// breakpoints
//
// Example: column-grid-sm--2-col
//          column-grid-md--3-col
//          column-grid-lg--4-col
//
// Can add modifier classes to change the amount
// of grid-gap or to remove it completely
// ------------------------------------------
.column-grid {
	@include grid-parent;
	grid-gap: $vmx_base_spacing;
	
	&--2-col {
		grid-template-columns: repeat(2, 1fr);
	}
		
	&--3-col {
		grid-template-columns: repeat(3, 1fr);
	}

	&--4-col {
		grid-template-columns: repeat(4, 1fr);
	}
	
	@include respond-to(small){
		@include create-columns(sm);
	}
	
	@include respond-to(medium){
		@include create-columns(md);
	}
	
	@include respond-to(large){
		@include create-columns(lg);
	}
	
	@include respond-to(xlarge){
		@include create-columns(xl);
	}
	
	// Adds Grid Gap to Grid Items
	// Place these classes on the column-grid parent
	&.grid-gap {
		&--less {
			grid-gap: $vmx_half_spacing;
		}
		
		&--more {
			grid-gap: $vmx_double_spacing;
		}
		
		&--none {
			grid-gap: 0;
		}
	}
	
	// Grid Items
	&--item {
		@include grid-item;
        display: flex;
        flex-direction: column;
		align-items: stretch;
		
		> * + * {
			margin-top: $vmx_base_spacing;
		}

		@include headings(){
			+ * {
				margin-top: $vmx_half_spacing;
			}
		}
	}
	
	// Add borders to grid items
	// Set this class on the grid parent element
	&--item-borders {
		.column-grid--item {
			border: 1px solid color(light-gray);
		}
	}
}