// ------------------------------------------
// Sets top and bottom padding
// Sets default spacing between it's child elements
// ------------------------------------------
.module-container {
	@include grid-parent;
	grid-row-gap: $vmx_double_spacing;
	padding-top: $vmx_double_spacing;
	padding-bottom: $vmx_double_spacing;
	text-align: center;
	
	&.no-padding {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	&.padding--less {
		padding-top: $vmx_half_spacing;
		padding-bottom: $vmx_half_spacing;
	}
	
	// Add an hr between rows inside a module-container
	// Set this class on module-container element
	&--divider {
		.layout-row + .layout-row::before{
			content:'';
			display: block;
			width: 100%;
			height: 1px;
			background-color: color(light-gray);
			margin-bottom: $vmx_double_spacing;
		}
	}
}