//12 column Grid

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 1em;
}

header,
main,
footer,
section {
	color: #fff;
}

header,
footer,
section {
	padding: 20px;
}

header {
	background-color: #ff6f59; 
}

footer {
	background-color: #d63043;
}

.grid {
	border: 5px solid #ccc;
	display: grid;
}

.main-content {
	grid-template-columns: repeat(12, 1fr);
}

.module {
	background-color: #ffa500;
	padding: 30px;
	
	&:nth-child(even){
		background-color: #fff;
		color: #222;
	}
	
	&--1 {
		grid-column: 3/11;
	}
	
	&--2 {
		grid-column: 5/9;
	}
	
	&--3 {
		grid-column: 4/10;
	}
	
	&--4 {
		grid-column: 3/11;
	}
}